body{

	font-family: 'Bad Script', cursive;
	font-family: 'Corinthia', cursive;
	font-family: 'Gloria Hallelujah', cursive;
	font-family: 'Lobster', cursive;
	font-family: 'Pacifico', cursive;
	font-family: 'Permanent Marker', cursive;
	font-family: 'Pushster', cursive;
	font-family: 'Rock Salt', cursive;
	font-family: 'Sofia', cursive;
	font-family: 'Special Elite', cursive;

	background-color: beige;

}

.tabla{

	 border: 2px solid #0016b0;
	 border-radius: 6px;
	box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0,0,0,0);
}

.h1{

	background-color: orange;
	text-decoration: underline;
	width: 50%;
	border: 2px solid #0016b0;
	border-radius: 50%;
	padding: 2%;
	box-shadow: 0px 3px 0px 2px rgba(0,0,0,0.1), 0px 6px 0px 4px rgba(0,0,0,0.1), 0px 9px 0px 6px rgba(0,0,0,0.1), 0px 12px 0px 8px rgba(0,0,0,0.1), 0px 15px 0px 10px rgba(0,0,0,0.1), 0px 18px 0px 12px rgba(0,0,0,0.1), 0px 21px 0px 14px rgba(0,0,0,0.1), 0px 24px 0px 16px rgba(0,0,0,0.1), 0px 27px 0px 18px rgba(0,0,0,0.1), 0px 30px 0px 20px rgba(0,0,0,0.1), 5px 5px 15px 5px rgba(0,0,0,0);
	
}

.volver{

	/*outline: 2px solid green;*/
	text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
    position: relative;
    top: 130px;
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px -3px rgba(0,0,0,0);

}

.volver:hover{
	 color: #1883ba;
    background-color: #ffffff;
}

.hola4{

	padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: brown;
    background-color: lightblue;
    border-radius: 6px;
    border: 0px solid #0016b0;
    box-shadow: -10px 0px 13px -7px lightblue, 10px 0px 13px -7px lightblue, 5px 5px 15px -3px lightblue;
}

.hola7{

	padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: brown;
    background-color: lightblue;
    border-radius: 6px;
    border: 0px solid #0016b0;
    box-shadow: -10px 0px 13px -7px lightblue, 10px 0px 13px -7px lightblue, 5px 5px 15px -3px lightblue;
}

.moverTabla{
	position: relative;
   	top: 50px;

}

#formulario{

	position: relative;
   	top: 80px;

}

#tematic{

	position: relative;
   	top: 30px;
   	background-color: orange;
	text-decoration: underline;
	width: 30%;
	border: 2px solid #0016b0;
	border-radius: 50%;
	padding: 1%;

}

.imprimir{

	position: relative;
   	top: 130px;
   	left: -10px;
}

.h2{

	position: relative;
   	top: 35px;
   	width: 60%;
   	border-radius: 50%;
   	padding: 2%;
   	padding-bottom: 0;
   	box-shadow: -10px 0px 13px -7px lightblue, 10px 0px 13px -7px lightblue, 5px 5px 15px -3px lightblue;

}

.imprimirVolver{
	display: flex;
	justify-content: center;
	align-items: center;
}

#hide{
	opacity: 0;
}