@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --cc-card-height: 200;
  --cc-card-width: 300;
  --cc-card-details-height: 175;
  --speedVerySlow: 1500ms;
  --speedSlow: 1000ms;
  --speedMedium: 800ms;
  --speedDefault: 600ms;
  --speedFast: 200ms;
  --speedVeryFast: 75ms;
  --speedNone: 0ms;
  --delayShort: 300ms;
  --delayDefault: 600ms;
  --delayMedium: 800ms;
  --delayLong: 1000ms;
  --delayVeryLong: 1300ms;
  --delayNone: 0ms;
  --scale-default: 1;
  --scale-xs: 0.5;
  --scale-sm: 0.75;
  --scale-m: 1.02;
  --scale-l: 1.1;
  --scale-xl: 1.5;
  --scale-xxl: 2;
  --adjustment-xxs: 0.25rem;
  --adjustment-xs: 0.5rem;
  --adjustment-sm: 0.75rem;
  --adjustment-m: 1rem;
  --adjustment-l: 1.25rem;
  --adjustment-xl: 1.5rem;
  --adjustment-xxl: 2rem;
}


h1, h2, h3, h4, h5, h6 {
  font-family: Raleway, Georgia, "Times New Roman", Times, serif;
  font-weight: 600;
  color: #eee385;
  letter-spacing: 0.2em;
  line-height: 0.9rem;
  letter-spacing: 0.2em;
  width: fit-content;
}
.cc-carousel {
  display: grid;
  position: relative;
  place-content: center center;
  margin: 0;
  padding: 0.5rem;
  
}
.cc-carousel .cc-carousel-container {
  display: grid;
  position: relative;
  margin: 0;
  padding: 0;
  background: #ececec;
  border-top: solid 3px cyan;
  border-right: solid 3px magenta;
  border-bottom: solid 3px yellow;
  border-left: solid 3px black;
  border-radius: 50%;
  grid-auto-rows: minmax(min-content, max-content);
  gap: 1.4rem;
}
@media (max-width: 680px) {
  .cc-carousel .cc-carousel-container {
    grid-template-columns: repeat(2 1fr);
  }
}
@media (min-width: 680px) {
  .cc-carousel .cc-carousel-container {
    grid-template-columns: repeat(4 1fr);
  }
}
.cc-carousel .cc-carousel-container .cc-card {
  display: grid;
  position: relative;
  width: 300px;
  height: 200px;
  animation-fill-mode: both;
}
.cc-carousel .cc-carousel-container .cc-card .cc-card-top {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 300px;
  min-height: 200px;
  cursor: pointer;
  z-index: 2;
  -webkit-mask: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 26.0.2, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 1920 1283.7' style='enable-background:new 0 0 1920 1283.7;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bdisplay:none;%7D .st1%7Bstroke:%23000000;stroke-width:36;stroke-miterlimit:10;%7D%0A%3C/style%3E%3Cpath class='st0' d='M1920,102.1H0V1109c0,0,527.1-3,960,55.7c432.9,58.7,960-55.7,960-55.7V102.1z'/%3E%3Cg%3E%3Cpath class='st1' d='M1902,17.7H17.9v1172.2c0,0,556.4,1.5,942.1,56.6c86.8,13.9,177.3,19.4,266.6,19.4 c347.9,0,675.5-54.4,675.5-54.4V17.7H1902z'/%3E%3C/g%3E%3C/svg%3E");
  mask: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 26.0.2, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 1920 1283.7' style='enable-background:new 0 0 1920 1283.7;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bdisplay:none;%7D .st1%7Bstroke:%23000000;stroke-width:36;stroke-miterlimit:10;%7D%0A%3C/style%3E%3Cpath class='st0' d='M1920,102.1H0V1109c0,0,527.1-3,960,55.7c432.9,58.7,960-55.7,960-55.7V102.1z'/%3E%3Cg%3E%3Cpath class='st1' d='M1902,17.7H17.9v1172.2c0,0,556.4,1.5,942.1,56.6c86.8,13.9,177.3,19.4,266.6,19.4 c347.9,0,675.5-54.4,675.5-54.4V17.7H1902z'/%3E%3C/g%3E%3C/svg%3E");
  mask-position: bottom center;
  mask-repeat: no-repeat;
  mask-size: cover;
}
.cc-carousel .cc-carousel-container .cc-card .cc-card-top .cc-card-top-overlay {
  display: block;
  position: absolute;
  padding: 0;
  height: 200px;
  width: 300px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 26.0.2, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 1920 1283.7' style='enable-background:new 0 0 1920 1283.7;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;stroke:%23EFEFEF;stroke-width:36;stroke-miterlimit:10;%7D%0A%3C/style%3E%3Cg%3E%3Cpath class='st0' d='M1902.7,18.1H18.6v1172.2c0,0,556.4,1.5,942.1,56.6c86.8,13.9,177.3,19.4,266.6,19.4 c347.9,0,675.5-54.4,675.5-54.4V18.1H1902.7z'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  filter: drop-shadow(3px 6px 23px rgba(0, 0, 0, 0.31));
}
.cc-carousel .cc-carousel-container .cc-card .cc-card-top h3 {
  font-size: 2rem;
  color: #eee385;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
}
.cc-carousel .cc-carousel-container .cc-card .cc-card-bottom {
  display: block;
  position: absolute;
  margin: 0 0.35rem;
  padding: 1rem;
  height: 200px;
  width: 300;
  opacity: 0;
  border: solid 5px #efefef;
  border-radius: 0 0 30px 0;
  box-shadow: 1px 2px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1;
  transform: translateY(-175px);
  animation-fill-mode: both;
}
.cc-carousel .cc-carousel-container .cc-card .cc-card-bottom h4 {
  position: relative;
  margin: 1.5rem 0 1rem;
  color: #6c4d72 !important;
  font-size: 1.75rem;
  color: #eee385;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
}
.cc-carousel .cc-carousel-container .cc-card .cc-card-bottom .card-details {
  font-size: 0.75rem;
  overflow: hidden;
}
@media (max-width: 680px) {
  .cc-carousel .cc-carousel-container .cc-card:nth-of-type(1) {
    grid-column: 2 / span 2;
    grid-row: 1 / span 2;
  }
  .cc-carousel .cc-carousel-container .cc-card:nth-of-type(2) {
    grid-column: 1 / span 2;
    grid-row: 2 / span 2;
  }
  .cc-carousel .cc-carousel-container .cc-card:nth-of-type(3) {
    grid-column: 1 / span 2;
    grid-row: 3 / span 2;
  }
  .cc-carousel .cc-carousel-container .cc-card:nth-of-type(4) {
    grid-column: 2 / span 2;
    grid-row: 4 / span 2;
  }
  .cc-carousel .cc-carousel-container .cc-card:nth-of-type(5) {
    grid-column: 3 / span 2;
    grid-row: 3 / span 2;
  }
  .cc-carousel .cc-carousel-container .cc-card:nth-of-type(6) {
    grid-column: 3 / span 2;
    grid-row: 2 / span 2;
  }
}
@media (min-width: 680px) {
  .cc-carousel .cc-carousel-container .cc-card:nth-of-type(1) {
    grid-column: 2 / span 2;
    grid-row: 1 / span 2;
  }
  .cc-carousel .cc-carousel-container .cc-card:nth-of-type(2) {
    grid-column: 1 / span 2;
    grid-row: 2 / span 2;
  }
  .cc-carousel .cc-carousel-container .cc-card:nth-of-type(3) {
    grid-column: 1 / span 2;
    grid-row: 3 / span 2;
  }
  .cc-carousel .cc-carousel-container .cc-card:nth-of-type(4) {
    grid-column: 2 / span 2;
    grid-row: 4 / span 2;
  }
  .cc-carousel .cc-carousel-container .cc-card:nth-of-type(5) {
    grid-column: 3 / span 2;
    grid-row: 3 / span 2;
  }
  .cc-carousel .cc-carousel-container .cc-card:nth-of-type(6) {
    grid-column: 3 / span 2;
    grid-row: 2 / span 2;
  }
}
.cc-carousel .cc-carousel-container .cc-card[data-card-position="1"] {
  justify-self: center;
  cursor: default;
  pointer-events: none;
  margin: 0;
  z-index: 1000;
}
.cc-carousel .cc-carousel-container .cc-card[data-card-position="1"] .cc-card-bottom {
  cursor: default;
  pointer-events: none;
}
.cc-carousel .cc-carousel-container .cc-card[data-card-position="2"] {
  justify-self: flex-start;
  margin-top: 20px;
  z-index: 50;
}
.cc-carousel .cc-carousel-container .cc-card[data-card-position="3"] {
  margin-left: 20px;
  z-index: 40;
}
.cc-carousel .cc-carousel-container .cc-card[data-card-position="4"] {
  z-index: 30;
}
.cc-carousel .cc-carousel-container .cc-card[data-card-position="5"] {
  margin-right: 20px;
  z-index: 40;
}
.cc-carousel .cc-carousel-container .cc-card[data-card-position="6"] {
  justify-self: flex-end;
  margin-top: 20px;
  z-index: 50;
}
/**********  Dev Tools  **********/
.devInfo {
  display: grid;
  position: relative;
  place-content: start;
  place-items: center;
  padding: 0.5rem;
  z-index: 0;
}
.devInfo div {
  padding: 0.5rem;
  width: max-content;
}
.devInfo div:last-of-type {
  background-color: #ececec;
}
.devInfo div button {
  padding: 0.2rem 0.75rem;
  margin-right: 0.5rem;
}
