@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

.time {
  color: black;
  text-shadow: 0 1px 5px orange;
  font-size: 15px;
  margin-top: -15px;
  margin-bottom: 5px;
}

.hour {
  font-size: 15px;
}

.date {
  font-size: 15px;
  
}