.portfolio {
  padding: 4rem 0;
}
.portfolio button {
  text-transform: capitalize;
}

.portfolio-box {
  position: relative;
  width: 100%;
  height: 18.5rem;
  overflow: hidden;
  margin-bottom: 1.2rem;
  border-top: 0.5rem solid #c685f7;
}

.portfolio-box img {
  width: 100%;
  height: 100%;
}

.portfolio-box .portfolio-info{
  background-color: rgba(153, 38, 240, 0.75);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.portfolio-box:hover img {
  transform: scale(1.5);
  transition-duration: 2s;
  transition-property: all;
}

.portfolio-box:hover .portfolio-info {
  opacity: 1;
  transition-duration: 1s;
  transition-property: all;
}