/dockerGeneral/Proyectophp/ElAhorcadoJavaServlet/build/
/dockerGeneral/Proyectophp/ElAhorcadoJavaServlet/nbproject/private/
/dockerGeneral/Proyectophp/EvaluacionExamen1Tarde19-12-21/build/
/dockerGeneral/Proyectophp/EvaluacionExamen1Tarde19-12-21/dist/
/dockerGeneral/Proyectophp/EvaluacionExamen1Tarde19-12-21/nbproject/private/
/dockerGeneral/Proyectophp/EvaluacionExamen2Tarde21-12-21/build/
/dockerGeneral/Proyectophp/EvaluacionExamen2Tarde21-12-21/dist/
/dockerGeneral/Proyectophp/EvaluacionExamen2Tarde21-12-21/nbproject/private/
/dockerGeneral/Proyectophp/SopaDeLetras/nbproject/private/
/dockerGeneral/Proyectophp/SopaDeLetras/build/
/dockerGeneral/Proyectophp/p2ParaEnviar/build/
/dockerGeneral/Proyectophp/p2ParaEnviar/nbproject/private/
/dockerGeneral/Proyectophp/paraEnviarAlProfesor/GestionInstitutoJava/build/
/dockerGeneral/Proyectophp/paraEnviarAlProfesor/GestionInstitutoJava/nbproject/private/
/ElAhorcadoJavaServlet/dist/