<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>crearUsuarios</servlet-name>
        <servlet-class>servlets.CrearUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearAlumnos</servlet-name>
        <servlet-class>servlets.CrearAlumnos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearPersonalNoDocente</servlet-name>
        <servlet-class>servlets.CrearPersonalNoDocente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearMaterias</servlet-name>
        <servlet-class>servlets.CrearMaterias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearEvaluaciones</servlet-name>
        <servlet-class>servlets.CrearEvaluaciones</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>crearUsuarios</servlet-name>
        <url-pattern>/crearUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearAlumnos</servlet-name>
        <url-pattern>/CrearAlumnos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearPersonalNoDocente</servlet-name>
        <url-pattern>/CrearPersonalNoDocente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearMaterias</servlet-name>
        <url-pattern>/CrearMaterias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearEvaluaciones</servlet-name>
        <url-pattern>/CrearEvaluaciones</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
