/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10-abr-2022, 13:56:54
    Author     : daw2
*/

.booth{
    
    width: 600px;
    background-color: #ccc;
    border: 10px solid #ddd;
    margin: 0 auto;
}

.booth-capture-button{
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: red;
    color: #fff ;
    text-align: center;
    text-decoration: none;
}

#canvas{
    display: none;
}